<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>
    <form method="POST" action="/list/edit/<%=list._id%>?_method=PATCH">
        <label for="text">Task</label>
        <input type="text" id="text" placeholder="Place your task" name="text">
        <button>Update</button>
    </form>
    <form action="/list/show">
        <button>back</button>
    </form>
</body>